
<link rel="stylesheet" href="/assets/style.css">

    <h1>Create Poll</h1>
    <form id="h" method="POST" action="/createPoll">
      <div id="login">
      <p><input type="text" name="question" value="" placeholder="question"></p>
      <% for(var j=0;j<flag2;j++){ %> 
      <p><input type="text" name='i'  value=""placeholder='options' ></p><% } %> 
      <p class="submit"><input type="submit" name="commit"  value="Create"></p>
    </form>
    <button form="h" class="submit" name="addOption" value="add">Add Option</button><br><br>
    <a href="teamDashboard">Back to team dashboard</a>

  </div>

  
