
<link rel="stylesheet" href="/assets/style.css">

        <h1>Create Team</h1>
        <form method="POST" action="/createTeam">
          <div id="createTeam">
          <p><input type="text" name="teamName" value="" placeholder="name"></p>
          <p><input type="text" name="description" value="" placeholder="description"></p>
          <p class="submit"><input type="submit" name="commit" value="Create"></p>
        </form>
      </div>
