<link rel="stylesheet" href="/assets/style.css">

  <div id="login">
    <h1>Login to Poll booth</h1>
      <form method="POST" action="/login">
      
      <p><input type="text" name="email" value="" placeholder="Username or Email"></p>
       <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
    </form>
    <a href="register">Register</a>
  </div>
