<link rel="stylesheet" href="/assets/style.css">

  <div id="login">
    <h1>Register to Web App</h1>
    <form method="POST" action="/register">
      <p><input type="text" name="name" value="" placeholder="name"></p>
      <p><input type="text" name="roll" value="" placeholder="roll(Only numbers)"></p>
      <p><input type="text" name="email" value="" placeholder="Username or Email"></p>
      <p><input type="password" name="password" value="" placeholder="Password"></p><br>
      <p class="submit"><input type="submit" name="commit" value="Sign up"></p>
    </form>
    <a href="login">Back to login page</a>

  </div>
