<link rel="stylesheet" href="/assets/style.css">

   <h1>Team Invites</h1> 
   <% if(doc.length!=0){ %> 
   <p>These teams are open to join</p>
   <form id="form2" method="POST" action="/teamInvites"> </form>

   <% doc.forEach(function(element) {%>
      <br><button form="form2" value= <%=element.id%> name="j"><%=element.name%> </button>
   <% }); %>  
      <% }else{ %>
         <p>No team invites yet</p><% } %>  